@font-face {
  font-family: "sweet purple";
  src: url("sweet purple.ttf");
}
body{
  background-color: #d7fff7 !important;
  background: url('../images/Banner.jpg');
  background-attachment: fixed;
}
h1, .nav-link {
  font-family: "sweet purple";
}

.info{
  font-family: "sweet purple";
}

.pieart{
  font-family: "Arial";
  font-size: 15px;
  text-align: center;
  margin: 0px;
  padding: 0px;
  color: gray;
}
.imgportada{
  width: 100%;
  cursor: zoom-in;
}

.fa {
  padding: 10px;
  font-size: 25px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 2.5px 1px;
}

.fa:hover {
  opacity: 0.7;
}
.boton{
  background-color: #88ffe7;
  box-sizing: inherit;
  display: block;
  border: none;
  width: 149px;
  font-size: 34px;
  color: black;
  padding: 10px;
  margin: 20px;
}
.btn{
  background: none;
  border: none;
  padding: 0px !important;
  width: 100% !important;
}
.btn:hover{
  background: none;
  border: none;
  cursor: zoom-in !important;
}
.playas{
  font-family: "sweet purple";
  margin: auto;
  font-size: 16px;
    padding-bottom: 20px;
    background-color: rgba(255,255,255,1);
    display: grid;
    margin: 20px;
}
.playas h1{
  color: #000;
  font-family: "sweet purple";
  font-size: 44px;
  text-align: center;
  margin: 0px;
  margin-top: 20px;
}
.playas h2{
  color: #636363;
  font-family: "sweet purple";
  font-size: 34px;
  text-align: center;
}
.playas p{
  font-family: "Arial";
  font-size: 18px;
  text-align: center;
  margin: 0px;
}
.mapa{
  margin: auto;
  width: 95%;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  padding: 20px;
  text-align: center;
  font-family: arial;
}
.card h1 {
  margin: 5px;
}
.card a {
  border: none;
  background-color: #000;
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card a:hover {
  opacity: 0.7;
}
